@charset "UTF-8";
/* ### contents.scss ### */

.mainTitle{
    color:#fff;
    text-align: center;
    background: url(/img/common/main_bg_detail.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 200px;
    font-weight: bold;
    position: relative;
    @include media(sp) {
        height:100px;
        &:after,&:before{
            content: '';
            display: block;
            width: 100%;
            height: 6px;
            position: absolute;
            left:0;
            background: url(/img/base/bg_nami_white_b.png) repeat-x 0 0;
            background-size:50px auto ;
       }
       &:after{
            top:0;
       }
       &:before{
            bottom:0;
            background: url(/img/base/bg_nami_white_t.png) repeat-x 0 0;
            background-size:50px auto ;
       }

    }

    .headline1{
        padding-top: 70px;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.29);
        @include media(sp) {
            padding-top: 35px;
        }
    }
    span{
        display: block;
        line-height: 1;
    }
    .jp{
        font-size: 50px;
        font-weight: bold;
        padding-bottom: 10px;
        @include media(sp) {
            font-size: 24px;
        }
    }
    .en{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 3px;
        @include media(sp) {
            font-size: 14px;
        }
    }
}
.tour .mainTitle{
     background: url(/img/common/main_bg_tour.jpg) no-repeat 50% 50%;
     background-size: cover;
}
.blog .mainTitle{
     background: url(/img/common/main_bg_tour_detail.jpg) no-repeat 50% 50%;
     background-size: cover;
}



.categoryMenu{
    margin: 60px 0;
    font-weight: bold;
    font-size: 19px;
    ul{
        @extend %cf;
        margin-left: 5%;
        padding-bottom: 5px;
        li{
            float: left;
            width: 23%;
            text-align: center;
            margin-left: 3px;
            transform:skewX( -20deg);
            -webkit-transition: all .25s ease;
               -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                 -o-transition: all .25s ease;
                    transition: all .25s ease;

            a{
                padding:10px 0;
                color:#fff;
                display: block;
                transform:skewX(20deg);
            }
            a:hover{
                text-decoration: none;
            }
            &:hover{
                opacity: 0.6;
                text-decoration: none;
            }
        }
    }
}

@include media(sp) {
    .categoryMenu{
        margin: 20px 0 30px;
        font-size: 15px;
        ul{
            margin-left: 0;
            padding-bottom: 0;
            li{
                width: 49.5%;
                text-align: center;
                margin: 0 0 2px;
                transform:skewX( 0);
                &:nth-child(even){
                    float: right;
                }

                a{
                    transform:skewX(0);
                }
                a:hover{
                    text-decoration: none;
                }
                &:hover{
                    opacity: 0.6;
                    text-decoration: none;
                }
            }
        }
    }
}
.newsList{
    margin-bottom: 60px;
    dt{
        float: left;
        margin: 0 20px 5px 0;
    }
    dd{
        overflow: hidden;
        margin-bottom: 5px;
    }
    .news &{
        padding-top: 60px;
    }
}
@include media(sp) { 
    .newsList{
        margin-bottom: 30px;
        .news &{
            padding-top: 30px;
        }
        dt{
            float: none;
            margin: 0 0px 5px 0;
        }
        dd{
            overflow: hidden;
            margin-bottom: 5px;
        }
    }

}

.tourList{
     @extend %cf;
     margin-bottom: 60px;
     position: relative;
     .category{
        position: absolute;
        left:-15px;
        top:-15px;
        color:#fff;
        padding:5px 30px;
        transform:skewX( -20deg);
        font-size: 14px;
        z-index: 3;
        span{
            transform:skewX(20deg);
            display: block;
        }
     }
     figure{
        float: left;
        max-width: 290px;
        img{
            border-radius: 15px;
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
        }
     }
     .inner{
        overflow: hidden;
        padding-left: 30px;
     }
     h2{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
     }
     .text{
        margin-bottom: 10px;
     }
     dl{
        position: relative;
        border-top: 4px solid #ddd;
        border-bottom: 2px solid #ddd;
        padding:7px 5px 5px;
        margin-bottom: 20px;
         @extend %cf;
         dt{
            float: left;
            width: 3em;
            font-weight: bold;
            font-size: 18px;
            &:after{
                content: '';
                display: block;
                width: 3em;
                height: 4px;
                background:$keyColor;
                position: absolute;
                left:0;
                top:-4px;
            }
         }
         dd{
            overflow: hidden;
            padding-left: 10px;
         }
     }
}
@include media(sp) {

    .tourList{
         margin-bottom: 60px;
         position: relative;
         .category{
            left:40%;
            top:0;
            padding:5px 10px;
            font-size: 12px;
         }
         figure{
            float: left;
            width: 40%;
            padding:0 10px 10px 0 ;
         }
         .inner{
            overflow: inherit;
            padding-left:0 ;
         }
         h2{
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 10px;
            padding-top: 35px;
         }
         .text{
            margin-bottom: 10px;
            clear: both;
            font-size: 13px;
         }
         dl{
            position: relative;
            border-top: 4px solid #ddd;
            border-bottom: 2px solid #ddd;
            padding:7px 5px 5px;
            margin-bottom: 20px;
             dt{
                font-size: 15px;
             }
             dd{
                font-size: 13px;
             }
         }
    }
}

.tourTitle{
     @extend %cf;
     margin:60px 0 40px;
    p{
        float: left;
        color:#fff;
        font-size: 14px;
        padding:8px 10px;
        margin-right: 20px;
        transform:skewX( -20deg);
        span{
            transform:skewX(20deg);
            display: block;
        }
    }
    h1{
        font-weight: bold;
        font-size: 24px;
    }
}
@include media(sp) {
    .tourTitle{
         margin:30px 0 20px;
        p{
            float: none;
            font-size: 14px;
            display: inline-block;
        }
        h1{
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}

.tourMainVisual{
    text-align: center;
    margin-bottom: 20px;
    img{
        border-radius: 15px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
    }
}


.tourTable{
    margin-top: 40px;
}

.schedulePlan{
    margin:0 0 30px;
    @include media(sp) {
        margin-top: 30px;
    }
    li{
         @extend %cf;
         display: table;
         width: 100%;
    }
    p.time{
        display: table-cell;
        background:#d7eef7;
        text-align: center;
        width: 134px;
        font-weight: bold;
        padding:20px 0;
        position: relative;
        @include media(sp) {
            width: 70px;
        }
    }
    li:not(:last-child){
        p.time:after{
            content: "";
            display: block;
            width: 137px;
            height: 27px;
            position: absolute;
            bottom:-10px;
            left:0;
            z-index: 10;
            background: url(/img/base/line_schedule.png) no-repeat 0 0;
            @include media(sp) {
                width: 70px;
                background-size: 100% auto;
            }

        }
    }

    li:last-child{
        p.time:after{
            content: "";
            display: block;
            width: 137px;
            height: 27px;
            position: absolute;
            bottom:-10px;
            left:0;
            z-index: 10;
            background: url(/img/base/line_schedule_b.gif) no-repeat 0 0;
            @include media(sp) {
                width: 70px;
                bottom:-25px;
                background-size: 100% auto;
            }
        }
    }

    .inner{
        display: table-cell;
        padding-left: 20px;
    }
    h3{
        font-weight: bold;
    }
}



.cancelArea{
    background:#f5f5f5;
    padding:20px;
    font-size: 14px;
    h3{
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        border-bottom: 1px dashed #bcbcbc;
    }
    table{
        margin:10px 0;
        th{
            width: 4em;
        }
    }
}

.blogList{
    @extend %cf;
    li{
        width: 320px;
        float: left;
        margin-bottom: 50px;
    }
    a{
        display: block;
        color:#000;
    }
    a:hover{
        text-decoration: none;
    }
    figure{
        margin-bottom: 10px;
    }
    .date{
        font-size: 14px;
    }
    h3{
        font-weight: bold;
        margin:5px 0 5px;
        font-size: 16px;
    }
    .text{
        font-size: 13px;
    }
}

@include media(sp) {
    .blogList{
        li{
            width: auto;
            float: auto;
            margin-bottom: 20px;
        }
        figure{
            margin: 0 15px 0 0;
            width: 30%;
            float: left;
        }
        h3{
            font-weight: bold;
            overflow: hidden;
        }
        .text{
            display: none;
        }
    }
}

.blogInner{
    margin: 50px 0;
    li{
        @include media(pc) {
        &:not(:nth-child( 3n + 2 )){
            margin-left: 30px;
        }
        }
    }
    @include media(pc) {
    li:first-child{
        width: 100%;
        margin-left: 0;
        figure{
            float: left;
            margin-right: 20px;
            width: 320px;
        }
        h3{
            font-size: 27px;
        }
        .text{
            font-size: 16px;
        }
    }
    }
}



.wysiwygArea{
    margin:60px 0;
    @include media(sp) {
        margin: 30px 0;
    }
    .date{
        margin-bottom: 10px;
    }
    h1{
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
        @include media(sp) {
            font-size: 20px;
            line-height:1.2;
        }
    }
    h2{
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
        color: $keyColor;
        @include media(sp) {
            font-size: 18px;
        }
    }
    h3{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        border-left: 5px solid $keyColor;
        padding:0 0 0 10px;
        @include media(sp) {
            font-size: 15px;
        }
    }
    h4{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        @include media(sp) {
            font-size: 15px;
        }
    }
    h5{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
        color:#999999;
        @include media(sp) {
            font-size: 14px;
        }
    }
    p{
        margin-bottom: 40px;
    }
    ul{
        margin-bottom: 40px;
        li{
            position: relative;
            padding-left: 15px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                left:0;
                top:0.5em;
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background:$keyColor;
            }
        }
    }
    ol{
        margin-bottom: 40px;
        counter-reset: number;
        li{
            &:before {
                counter-increment: number;
                content: counter(number);
                display: inline-block;
                text-align: center;
                color: $keyColor;
                font-weight: bold;
                margin-right: .3em;
            }

        }
    }


}



.comments-area{
    border-top: 1px dotted #cccccc;
    padding:20px 0 0;
    h3{
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
        color: $keyColor;
        @include media(sp) {
            font-size: 16px;
        }
    }
    form{
        p{
            margin-bottom: 10px;
            label{
                float: left;
                width: 10em;
            }
            label[for="siteguard_captcha"]{
                width: 20em;
            }
        }

    }
    .form-submit{
        text-align: center;
    }
    .submit{
        padding:18px 50px 18px 50px;
        width: 230px;
        color:#fff;
        text-align: center;
        background:$keyColor;
        position: relative;
        line-height: 1;
        border: none;
        cursor: pointer;

    }
}


.faqText{
    padding-top: 60px;
    @include media(sp) {
        padding-top: 20px;
    }
}


.faqList{
    margin-top: 30px;
    h2{
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        @include media(sp) {
            font-size: 16px;
            padding-right: 20px;
        }
        &:before{
            content: 'Q';
            color:#fff;
            background:$keyColor;
            padding:4px 8px 4px;
            margin-right: 10px;
            line-height: 1;
            font-size: 18px;
            @include media(sp) {
                font-size: 14px;
            }

        }
        &:after{
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            right: 0px;
            top:0;
            bottom: 0;
            margin:auto;
            background: url(/img/common/icon_arrow_head.png) no-repeat 0 0;
            background-size: 100% auto;
            -webkit-transform: rotate(90deg);
               -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                 -o-transform: rotate(90deg);
                    transform: rotate(90deg);
        }
        &.on{
            &:after{
            -webkit-transform: rotate(270deg);
               -moz-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                 -o-transform: rotate(270deg);
                    transform: rotate(270deg);
            }
        }
    }
    .inner{
        margin-bottom:30px ;
        display: none;
    }
}


.staffList{
    li{
        width: 1030px;
        height: 421px;
        padding:40px 0 0 40px;
        background: url(/img/base/bg_staff.png) no-repeat 0 0;
    }
    figure{
        float: left;
        img{
            border-radius: 305px;
        }
    }
    .inner{
        overflow: hidden;
        padding:0 60px;
    }
    h3{
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 25px;
    }
    p{
        margin-bottom: 20px;
    }
    dl{
        dt{
            float: left;
            padding: 0 20px 5px 0;
            font-weight: bold;
            width: 7em;
        }
        dd{
            overflow: hidden;
            padding: 0 0px 5px 0;
        }
    }
}
@include media(sp) {
    .staffList{
        li{
            width: auto;
            height: auto;
            padding:20px;
            background:#fff;
            margin-bottom: 20px;
            border-radius: 15px;

        }
        figure{
            float: none;
            text-align: center;
            margin-bottom: 10px;
        }
        .inner{
            padding: 0;
        }
        h3{
            font-size: 24px;
            text-align: center;
        }
        dl{
            dt{
                float: none;
                padding: 0 0px 2px 0;
                font-weight: bold;
                width: auto;
            }
            dd{
                padding: 0 0px 10px 0;
            }
        }

    }

}




.messageArea{
    padding:80px;
    background: url(/img/base/bg_about_line.gif) repeat 0 0;
    text-align: center;
    .contentsCont{
        position: relative;
    }
    .text{
        line-height: 2;
    }
    .img1{
        top:-20px;
        position: absolute;
        left:-150px;
    }
    .img2{
        top:-20px;
        position: absolute;
        right:-180px;
    }
}
@include media(sp) {
    .messageArea{
        padding:20px 0;
        .contentsCont{
            position: relative;
        }
        .img1{
            top:0;
            position: relative;
            left:0;
            width: 50%;
            float: right;
        }
        .img2{
            top:0;
            position: relative;
            right:0;
            width: 50%;
            float: left;

        }
    }
}

.shipArea{
    padding:60px 0 0;
    position: relative;
    &:before,&:after{
        content: '';
        display: block;
        width: 580px;
        height: 200px;
        position: absolute;
        top:0;
        @include media(sp) {
            width: 40%;
        }
    }
    &:before{
      background: url(/img/base/bg_flag_l.png) no-repeat 100% 0;
      @include media(sp) {
        background-size: 200% auto;
      }
    }
    &:after{
      background: url(/img/base/bg_flag_r.png) no-repeat 0 0;
      right:0;
      @include media(sp) {
         background-size: 200% auto;
      }
    }
    .shipAreaCont{
        @extend %cf;
        margin-bottom: 50px;
        figure{
            float: left;
            margin-right: 20px;
            @include media(sp) {
                float: none;
                text-align: center;
                margin:0 0 0px;
            }
        }
        .inner{
            padding-top: 40px;
            @include media(sp) {
                padding-top: 20px;
            }
        }
        h3{
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .slideBg {
        margin-top: 1px;
     height: 240px;
     background: url(/img/index/photo_slide.jpg) repeat-x 0 0;
     -webkit-animation: bgscroll 25s linear infinite;
     animation: bgscroll 25s linear infinite;
    }
    ul{
        @extend %cf;
        li{
           float: left;
           margin-left: 1px;
        }
    }
}

.staffArea{
    background:#f9f9ed;
    padding:60px 0;
    position: relative;
    &:after{
        content: '';
        display: block;
        width: 100%;
        height: 15px;
        position: absolute;
        top:-15px;
        left:0;
        background: url(/img/base/bg_nami_brown_t.png) repeat-x 0 0;

    }
    h2{
        @include media(sp) {
            margin-bottom: 30px;
        }
    }

}



.shopArea{
    padding:60px 0;
    @include media(sp) {
        padding:30px 0;
    }
    table{
        margin:40px 0 0;
    }
}



.aboutArea{
    padding:60px 0;
    @include media(sp) {
        padding:30px 0;
    }
    iframe{
        margin-top: 40px;
    }
}









